body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 550px;
    background-color: #239ac2;
}

.card {
    position: relative;
    width: 250px;
    height: 350px;
    cursor: pointer;
    transform-style: preserve-3d;
    transition: 1s;
}

.card:hover {
    transform: perspective(2500px) rotate(5deg);
    box-shadow:inset 100px 20px 100px rgba(0, 0, 0, 0.2),
        0 10px 100px rgba(0, 0, 0, 0.5) ;
}

.card:hover .cardfront{
    transform: rotateY(-160deg) ;
}

.cardfront {
    position: relative;
    background-color: #fff;
    width: 450px;
    height: 550px;
    overflow: hidden;
    transform-origin: left;
    box-shadow:inset 100px 20px 100px rgba(0, 0, 0, 0.2),30px 0 50px rgba(0, 0, 0, 0.4) ;
    transition: 0.6s;
}

.view {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin: 40px;
    background-image: linear-gradient(120deg, #ffd856 0%, #f98c6c 100%);
    transition: 0.1s;
}

.ballon-1,
.ballon-2,
.ballon-3,
.ballon-4,
.ballon-5 {
    position: absolute;
    width: 90px;
    height: 100px;
    border-radius: 50%;
}

.ballon-1 {
    background-color: rgba(255, 40, 90, 0.7);
    left: 10px;
    top: 300px;
}

.ballon-2 {
    background-color: rgba(9, 215, 160, 0.7);
    left: 90px;
    top: 220px;
}

.ballon-3 {
    background-color: rgba(255, 186, 26, 0.7);
    left: 170px;
    top: 300px;
}

.ballon-4 {
    background-color: rgba(12, 122, 159, 0.7);
    left: 270px;
    top: 220px;
}

.ballon-5 {
    background-color: rgba(10, 252, 59, 0.7);
    left: 350px;
    top: 300px;
}

.ballon-1::before,
.ballon-2::before,
.ballon-3::before,
.ballon-4::before,
.ballon-5::before {
    content: "  ";
    position: inherit;
    width: 2px;
    height: 240px;
    background-color: #ffc848;
    top: 95px;
    left: 43px;
}

.ballon-1::after,
.ballon-2::after,
.ballon-3::after,
.ballon-4::after,
.ballon-5::after {
    content: " ";
    position: absolute;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    top: 94px;
    left: 37px;
}

.ballon-1::after {
    border-bottom: 10px solid #ff3e6b;
}

.ballon-2::after {
    border-bottom: 10px solid #04b183;
}

.ballon-3::after {
    border-bottom: 10px solid #ffc94c;
}

.ballon-4::after {
    border-bottom: 10px solid #0b738d;
}

.ballon-5::after {
    border-bottom: 10px solid #55e37d;
}

.cardinside {
    position: absolute;
    background-color: #fff;
    width: 450px;
    height: 550px;
    z-index: -1;
    left: 0;
    top: 0;
    box-shadow: inset 100px 10px 100px rgba(0, 0, 0, 0.2);
}

p{
    font-family:"Brush Script MT", cursive ;
    padding-left: 30px;
    padding-top: 20px;
    color: #333;
}

.name {
    position: absolute;
    left: 250px;
    top: 250px;
    color: #333;
}

.back {
    font-family: Tahoma, sans-serif;
    color: #333;
    text-align: center;
    margin: 40px;
    outline-color: #333;
    outline-style: dotted ;
}